services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/ingress/nginx.conf:/etc/nginx/nginx.conf
    networks:
      backend:
        ipv4_address: 172.20.0.2

  haproxy:
    image: haproxy:alpine
    volumes:
      - ./haproxy/reverse/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg
    networks:
      backend:
        ipv4_address: 172.20.0.3

  web:
    build:
      context: .
      dockerfile: Dockerfile.python
    networks:
      backend:
        ipv4_address: 172.20.0.5
    environment:
      - DB_HOST=172.20.0.10
      - DB_USER=app
      - DB_PASSWORD=very_strong
      - DB_NAME=example

  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: GhBdTn!2#4
      MYSQL_DATABASE: example
      MYSQL_USER: app
      MYSQL_PASSWORD: very_strong
    networks:
      backend:
        ipv4_address: 172.20.0.10
    #command: --default-authentication-plugin=mysql_native_password

networks:
  backend:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24
