[defaults]
library = /mnt/c/Users/fedotova/Desktop/Netologia/Netologia_HomeWork/ansible/08-ansible-06-module/test_module
host_key_checking = False
stdout_callback = yaml
interpreter_python = auto_silent
