version: '3.8'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.python
    ports:
      - "8090:5000"
    networks:
      backend:
        ipv4_address: 172.20.0.5
    environment:
      - DB_HOST=172.20.0.10

  db:
    image: mysql:8
    env_file: .env
    networks:
      backend:
        ipv4_address: 172.20.0.10
    command: --default-authentication-plugin=mysql_native_password

networks:
  backend:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24
